<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Scythe Scores</title>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="manifest" href="manifest.json">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>

<body class="mx-2">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script type="text/javascript" src="games.js"></script>
  <script type="text/javascript" src="charts.js"></script>
  <div id="app">
    <h1 style="text-align: center"><a href="https://github.com/afdia/scores">Scythe Scores</a></h1>
    <div>
      <b-form @submit="onSubmit">
        <h2>Game</h2>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Date</div>
          </b-input-group-text>
          <b-form-input type="date" v-model="game.date" />
        </b-input-group>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Triumph Track</div>
          </b-input-group-text>
          <b-form-select v-model="game.triumphTrack" :options="options.triumphTrack" />
        </b-input-group>
        <b-form-group v-if='game.triumphTrack === "Custom"'>
          <b-form-checkbox-group id="triumphPartsCheckboxes" v-model="game.triumphParts" :options="options.triumphParts" />
        </b-form-group>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Resolution Tile</div>
          </b-input-group-text>
          <b-form-select v-model="game.resolutionTile" :options="options.resolutionTile" />
        </b-input-group>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Airship (Red)</div>
          </b-input-group-text>
          <b-form-select v-model="game.airshipRed" :options="options.airshipTileRed" />
        </b-input-group>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Airship (Green)</div>
          </b-input-group-text>
          <b-form-select v-model="game.airshipGreen" :options="options.airshipTileGreen" />
        </b-input-group>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Notes</div>
          </b-input-group-text>
          <b-form-input v-model="game.notes" />
        </b-input-group>
        <h2>Player</h2>
        <b-input-group class="my-2">
          <b-dropdown text="Player Name" variant="outline-secondary" slot="prepend">
            <b-dropdown-item @click="form.name = n" v-for="n in usedNames()" :key="n">{{n}}</b-dropdown-item>
          </b-dropdown>
          <b-form-input v-model="form.name" required />
        </b-input-group>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Faction</div>
          </b-input-group-text>
          <b-form-select v-model="form.faction" :options="options.faction" required />
        </b-input-group>
        <b-input-group class="my-2" v-if="isVesnaOrFenris(form.faction)">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Faction Start</div>
          </b-input-group-text>
          <b-form-select v-model="form.mapStart" :options="options.mapStart" required />
        </b-input-group>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Board</div>
          </b-input-group-text>
          <b-form-select v-model="form.board" :options="options.board" required />
        </b-input-group>
        <b-input-group class="my-2">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Popularity</div>
          </b-input-group-text>
          <b-form-select v-model="form.popularity" :options="options.popularity" required />
        </b-input-group>
        <h2>Points</h2>
        <b-form-row>
          <b-col style="flex-grow: initial">
            <b-input-group class="my-2" prepend="Stars" style="width: 6.7em">
              <b-form-input style="text-align: center" v-model="form.stars" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="my-2" prepend="Tiles" style="width: 6.4em">
              <b-form-input style="text-align: center" v-model="form.tiles" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="my-2" prepend="Resources" style="width: 9em">
              <b-form-input style="text-align: center" v-model="form.resources" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="my-2" prepend="Buildings" style="width: 8.5em">
              <b-form-input style="text-align: center" v-model="form.buildings" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="my-2" prepend="Coins" style="width: 7em">
              <b-form-input style="text-align: center" v-model="form.coins" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="my-2" prepend="Sum" style="width: 7em">
              <b-form-input disabled style="text-align: center" :value="totalPoints(form)" />
            </b-input-group>
          </b-col>
        </b-form-row>
        <b-button class="mt-3" type="submit" variant="primary">Submit</b-button>
      </b-form>
    </div>
    <b-table class="mt-5" striped hover caption-top :items="game.players" :fields="fields">
      <template slot="edit" slot-scope="data">
        <b-button size="sm" @click.native.stop @click="edit(data.index)" variant="primary">Edit</b-button>
      </template>
      <template slot="table-caption">
        <b>Date:</b> {{game.date}}, <b>Track:</b> {{game.triumphTrack}}, <b>Resolution:</b> {{game.resolutionTile}},
        <b>Airship:</b> {{game.airshipRed}}/{{game.airshipGreen}}, <b>Notes:</b> {{game.notes}}
      </template>
    </b-table>
    <b-button @click="exportAsJson" variant="primary">Export Data</b-button>
    <b-form-textarea v-if="exportJson !== null" id="exportAsJsonArea" v-model="exportJson" :rows="12">
    </b-form-textarea>
    <b-button @click="showOldGames" variant="warning">{{ showOld ? 'Hide' : 'Show'}} old games</b-button>
    <b-table v-for="game in oldGames" v-if="showOld" class="mt-5" striped hover small caption-top :items="game.players" :fields="fields">
      <template slot="table-caption">
        <b>Date:</b> {{game.date}}, <b>Track:</b> {{game.triumphTrack}}, <b>Resolution:</b> {{game.resolutionTile}},
        <b>Airship:</b> {{game.airshipRed}}/{{game.airshipGreen}}, <b>Notes:</b> {{game.notes}}
      </template>
      <template slot="edit" slot-scope="row">
        <b-form-checkbox @click.native.stop @change="row.toggleDetails" v-model="row.detailsShowing">
          Details
        </b-form-checkbox>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>Popularity:</b></b-col>
            <b-col>{{row.item.popularity}}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>Points:</b></b-col>
            <b-col>Stars={{row.item.stars}} Tiles={{row.item.tiles}} Resources={{row.item.resources}} Buildings={{row.item.buildings}}
              Coins={{row.item.coins}}
            </b-col>
          </b-row>
        </b-card>
      </template>
    </b-table>
    <div v-show="showOld" style="margin-top:5em">
      <canvas id="ct-chart-wins"></canvas>
      <canvas id="ct-chart-games"></canvas>
      <canvas id="ct-chart-factionWins"></canvas>
      <canvas id="ct-chart-factionGames"></canvas>
      <canvas id="ct-chart-experiment"></canvas>
    </div>
  </div>
  <script>new Vue({
      el: '#app',
      data() {
        return {
          form: {
            name: null,
            faction: "",
            mapStart: "",
            board: "",
            popularity: "Medium",
            stars: "0",
            tiles: "0",
            resources: "0",
            buildings: "0",
            coins: "0",
            points: "0",
          },
          options: {
            faction: ['Albion', 'Crimean', 'Fenris', 'Nordic', 'Polania', 'Rusviet', 'Saxony', 'Togawa', 'Vesna'],
            mapStart: ['Albion', 'Crimean', 'Nordic', 'Polania', 'Rusviet', 'Saxony', 'Togawa'],
            board: ['1 Industrial', '2 Engineering', '2A Militant', '3 Patriotic', '3A Innovative', '4 Mechanical', '5 Agricultural'],
            triumphTrack: ['Default', 'Peace', 'War', 'Custom'],
            triumphParts: ['Upgrades', 'Mechs', 'Buildings', 'Enlists', 'Workers', 'Objective', 'War1', 'War2', 'War3', 'War4', 'Popularity', 'Power', 'Combat Cards', 'Encounters', 'Factory Card', 'Resources'],
            resolutionTile: ['None', '1 Land Rush', '2 Factory Explosion', '3 Spoils of War', '4 King of the Hill', '5 Deja Vu', '6 Mission Possible', '7 Doomsday Clock', '8 Backup Plan'],
            airshipTileRed: ['None', '1 Bombard', '2 Bounty', '3 Siege Engine', '4 Distract', '5 Espionage', '6 Blitzkrieg', '7 Toll', '8 War Correspondent'],
            airshipTileGreen: ['None', '9 Ferry', '10 Boost', '11 Drill', '12 Hero', '13 Safe Haven', '14 Reap', '15 Craft', '16 Negotiate'],
            popularity: ['Min', 'Medium', 'Max'],
          },
          fields: {
            name: { sortable: true },
            faction: { sortable: true },
            board: { sortable: true },
            points: { sortable: true },
            edit: {
              label: '',
              'class': 'button-col',
              sortable: false
            },
          },
          game: {
            date: new Date().toISOString().split('T')[0],
            triumphTrack: 'Default',
            triumphParts: '',
            resolutionTile: 'None',
            airshipRed: 'None',
            airshipGreen: 'None',
            notes: '',
            players: [],
          },
          exportJson: null,
          showOld: false,
          oldGames: [],
        }
      },
      methods: {
        usedNames() {
          return extractUsedNames(games);
        },
        totalPoints(player) {
          return Number(player.stars) + Number(player.tiles) + Number(player.resources) + Number(player.buildings) + Number(player.coins);
        },
        isVesnaOrFenris(faction) {
          return faction === 'Vesna' || faction === 'Fenris';
        },
        onSubmit(event) {
          event.preventDefault();
          if (!this.isVesnaOrFenris(this.form.faction)) {
            this.form.mapStart = this.form.faction;
          }
          let objCopy = Object.assign({}, this.form);
          objCopy.points = this.totalPoints(objCopy);
          let index = -1;
          this.game.players.forEach((value, i) => {
            if (value.name === objCopy.name) {
              index = i;
            }
          })
          if (index !== -1) {
            Vue.set(this.game.players, index, objCopy)
          } else {
            this.game.players.push(objCopy)
          }
          Object.keys(this.form).forEach(k => {
            this.form[k] = "";
          });
        },
        edit(index) {
          var item = this.game.players[index];
          let objCopy = Object.assign({}, item);
          this.form = objCopy;
        },
        exportAsJson() {
          if (this.game.triumphTrack !== 'Custom') {
            this.game.triumphParts = [];
          }
          this.exportJson = JSON.stringify(this.game);
        },
        showOldGames() {
          if (this.showOld == true) {
            this.showOld = false;
            return;
          }
          this.showOld = true;
          // sort newest games on top
          const that = this;
          games.sort(function (a, b) { return (a.date < b.date) ? 1 : ((b.date < a.date) ? -1 : 0); });
          games.forEach(function (game) {
            game.players.sort(function (a, b) { // sort by points (most points is top player)
              return (a.points < b.points) ? 1 : ((b.points < a.points) ? -1 : 0);
            });
            game.players[0]._rowVariant = 'success'; // highlight the winner (= top player after sorting)
            game.players[1]._rowVariant = 'warning';
            if (game.players.length > 2) {
              game.players[2]._rowVariant = 'danger';
            }
          });
          this.oldGames = games;
          drawGraphs(this);
        }
      }
    })
  </script>
</body>

</html>