<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="manifest" href="manifest.json">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
</head>

<body class="mx-2">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script type="text/javascript" src="games.js"></script>
  <div id="app">
    <h1 style="text-align: center">Scythe Scores</h1>
    <div>
      <b-form @submit="onSubmit">
        <h2>Game</h2>
        <b-form-group id="dateInputG" label="Date" label-for="dateInput">
          <b-form-input type="date" id="dateInput" v-model="game.date" required />
        </b-form-group>
        <b-form-group id="triumphTrackInputG" label="Triumph Track" label-for="triumphTrackInput">
          <b-form-select id="triumphTrackInput" v-model="game.triumphTrack" :options="triumphTracks" required />
        </b-form-group>
        <b-form-group v-if='game.triumphTrack === "Custom"'>
          <b-form-checkbox-group id="triumphPartsCheckboxes" v-model="game.triumphParts" :options="triumphParts" />
        </b-form-group>
        <b-form-group id="resolutionTileInputG" label="Resolution Tile" label-for="resolutionTileInput">
          <b-form-select id="resolutionTileInput" v-model="game.resolutionTile" :options="resolutionTiles" />
        </b-form-group>
        <b-form-group id="airshipTileRedInputG" label="Airship (Red)" label-for="airshipTileRedInput">
          <b-form-select id="airshipTileRedInput" v-model="game.airshipRed" :options="airshipTileReds" />
        </b-form-group>
        <b-form-group id="airshipTileGreenInputG" label="Airship (Green)" label-for="airshipTileGreenInput">
          <b-form-select id="airshipTileGreenInput" v-model="game.airshipGreen" :options="airshipTileGreens" />
        </b-form-group>
        <h2 class="mt-2">Player</h2>
        <b-form-group id="nameInputG" label="Name" label-for="nameInput">
          <b-form-input id="nameInput" v-model="form.name" required />
        </b-form-group>
        <b-form-group id="factionInputG" label="Faction" label-for="factionInput">
          <b-form-select id="factionInput" v-model="form.faction" :options="factions" required />
        </b-form-group>
        <b-form-group id="boardInputG" label="Board" label-for="boardInput">
          <b-form-select id="boardInput" v-model="form.board" :options="boards" required />
        </b-form-group>
        <b-form-row>
            <b-col style="flex-grow: initial">
                <b-input-group prepend="Stars" style="width: 6.5em">
                  <b-form-input @focus.native="$event.target.select()" v-model="form.stars" pattern="[0-9]*" inputmode="numeric" required />
                </b-input-group>
              </b-col>
              <b-col style="flex-grow: initial">
                <b-input-group prepend="Tiles" style="width: 6.2em">
                  <b-form-input style="text-align: center" @focus.native="$event.target.select()" v-model="form.tiles" pattern="[0-9]*" inputmode="numeric" required />
                </b-input-group>
              </b-col>
              <b-col style="flex-grow: initial">
                <b-input-group prepend="Resources" style="width: 8.7em">
                  <b-form-input style="text-align: center" @focus.native="$event.target.select()" v-model="form.resources" pattern="[0-9]*" inputmode="numeric" required />
                </b-input-group>
              </b-col>
              <b-col style="flex-grow: initial">
                <b-input-group prepend="Buildings" style="width: 8.3em">
                  <b-form-input style="text-align: center" @focus.native="$event.target.select()" v-model="form.buildings" pattern="[0-9]*" inputmode="numeric" required />
                </b-input-group>
              </b-col>
              <b-col style="flex-grow: initial">
                <b-input-group prepend="Coins" style="width: 6.8em">
                  <b-form-input style="text-align: center" @focus.native="$event.target.select()" v-model="form.coins" pattern="[0-9]*" inputmode="numeric" required />
                </b-input-group>
              </b-col>
              <b-col style="flex-grow: initial">
                <b-input-group prepend="Sum" style="width: 7em">
                  <b-form-input class="btn-success" disabled style="text-align: center" :value="totalPoints(form)"/>
                </b-input-group>
              </b-col>
        </b-form-row>
        <b-button class="mt-3" type="submit" variant="primary">Submit</b-button>
      </b-form>
    </div>
    <b-table class="mt-5" striped hover :items="game.players" :fields="fields">
      <template slot="points" slot-scope="data">
        {{totalPoints(data.item)}}
      </template>
      <template slot="edit" slot-scope="data">
        <b-button @click.native.stop @click="edit(data.index)" variant="primary">Edit</b-button>
      </template>
    </b-table>
    <b-button @click="exportAsJson" variant="primary">Export Data</b-button>
    <b-form-textarea v-if="exportJson !== null" id="exportAsJsonArea" v-model="exportJson" :rows="3">
    </b-form-textarea>
  </div>
  <script>new Vue({
      el: '#app',
      data() {
        return {
          form: {
            name: null,
            faction: "",
            board: "",
            stars: "0",
            tiles: "0",
            resources: "0",
            buildings: "0",
            coins: "0",
          },
          factions: ['Albion', 'Crimean', 'Fenris', 'Nordic', 'Polania', 'Rusviet', 'Saxony', 'Togawa', 'Vesna'],
          boards: ['1 Industrial', '2 Engineering', '2A Militant', '3 Patriotic', '3A Innovative', '4 Mechanical', '5 Agricultural'],
          triumphTracks: ['Default', 'Peace', 'War', 'Custom'],
          triumphParts: ['Upgrades', 'Mechs', 'Buildings', 'Enlists', 'Workers', 'Objective', 'War1', 'War2', 'War3', 'War4', 'Popularity', 'Power', 'Combat Cards', 'Encounters', 'Factory Card', 'Resources'],
          resolutionTiles: ['', '1 Land Rush', '2 Factory Explosion', '3 Spoils of War', '4 King of the Hill', '5 Deja Vu', '6 Mission Possible', '7 Doomsday Clock', '8 Backup Plan'],
          airshipTileReds: ['', '1 Bombard', '2 Bounty', '3 Siege Engine', '4 Distract', '5 Espionage', '6 Blitzkrieg', '7 Toll', '8 War Correspondent'],
          airshipTileGreens: ['', '9 Ferry', '10 Boost', '11 Drill', '12 Hero', '13 Safe Haven', '14 Reap', '15 Craft', '16 Negotiate'],
          fields: {
            name: { sortable: false },
            faction: { sortable: false },
            board: { sortable: false },
            points: { sortable: false },
            edit: {
              label: '',
              'class': 'button-col',
              sortable: false
            },
          },
          game: {
            date: new Date().toISOString().split('T')[0],
            triumphTrack: 'Default',
            triumphParts: '',
            resolutionTile: '',
            airshipRed: '',
            airshipGreen: '',
            players: [],
          },
          exportJson: null,
        }
      },
      methods: {
        totalPoints(player) {
          return Number(player.stars) + Number(player.tiles) + Number(player.resources) + Number(player.buildings) + Number(player.coins);
        },
        onSubmit(event) {
          // console.log(oldGames); TODO DO SOMETHING WITH OLD GAME DATA (NOT IN THIS METHOD)
          event.preventDefault();
          var form = this.$data.form;
          let objCopy = Object.assign({}, form);
          let index = -1;
          this.$data.game.players.forEach((value, i) => {
            if (value.name === objCopy.name) {
              index = i;
            }
          })
          if (index !== -1) {
            Vue.set(this.$data.game.players, index, objCopy)
          } else {
            this.$data.game.players.push(objCopy)
          }
          Object.keys(form).forEach(function (k) {
            form[k] = "";
          });
        },
        edit(index) {
          console.log("hello " + index)
          var item = this.$data.game.players[index];
          let objCopy = Object.assign({}, item);
          this.$data.form = objCopy;
        },
        exportAsJson() {
          if (this.$data.game.triumphTrack !== 'Custom') {
            this.$data.game.triumphParts = [];
          }
          this.$data.exportJson = JSON.stringify(this.$data.game);
        }
      }
    })
  </script>
</body>

</html>