<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="Description" content="Scythe Scores">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="white" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Scythe Scores</title>
  <link rel="preload" as="style" href="style.css">
  <link rel="preload" as="style" href="https://afdia.github.io/scores/js/bootstrap.min.css" />
  <link rel="preload" as="style" href="https://afdia.github.io/scores/js/bootstrap-vue.css" />
  <link rel="preload" as="style" href="https://afdia.github.io/scores/js/chartist.min.css">

  <link rel="preload" as="script" href="https://afdia.github.io/scores/js/vue.min.js">
  <!--<link rel="preload" as="script" href="https://afdia.github.io/scores/js/polyfill.min.js">-->
  <link rel="preload" as="script" href="https://afdia.github.io/scores/js/bootstrap-vue.min.js">
  <link rel="preload" as="script" href="https://afdia.github.io/scores/js/Chart.min.js">
  <link rel="preload" as="script" href="games.js">
  <link rel="preload" as="script" href="charts.js">

  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://afdia.github.io/scores/js/bootstrap.min.css" />
  <link rel="stylesheet" href="https://afdia.github.io/scores/js/bootstrap-vue.css" />
  <link rel="stylesheet" href="https://afdia.github.io/scores/js/chartist.min.css">
</head>

<body class="px-2">
  <!--<script src="https://unpkg.com/vue"></script>-->
  <script src="https://afdia.github.io/scores/js/vue.min.js"></script>
  <!--<link rel="preload" as="script" href="https://afdia.github.io/scores/js/polyfill.min.js">-->
  <script src="https://afdia.github.io/scores/js/bootstrap-vue.min.js"></script>
  <script src="https://afdia.github.io/scores/js/Chart.min.js"></script>
  <script src="games.js"></script>
  <script src="charts.js"></script>
  <div id="app">
    <h1 style="text-align: center; background: #FF2929; padding-bottom: 0.2em"><a style="color: black" href="https://github.com/afdia/scores">Scythe
        ★ Scores</a></h1>
    <div>
      <b-form @submit="onSubmit">
        <h2>Game</h2>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Date</div>
          </b-input-group-text>
          <b-form-input type="date" v-model="game.date" />
        </b-input-group>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Triumph Track</div>
          </b-input-group-text>
          <b-form-select v-model="game.triumphTrack" :options="options.triumphTrack" />
        </b-input-group>
        <b-form-group v-if='game.triumphTrack === "Custom"'>
          <b-form-checkbox-group id="triumphPartsCheckboxes" v-model="game.triumphParts" :options="options.triumphParts" />
        </b-form-group>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Resolution Tile</div>
          </b-input-group-text>
          <b-form-select v-model="game.resolutionTile" :options="options.resolutionTile" />
        </b-input-group>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Airship (Red)</div>
          </b-input-group-text>
          <b-form-select v-model="game.airshipRed" :options="options.airshipTileRed" />
        </b-input-group>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Airship (Green)</div>
          </b-input-group-text>
          <b-form-select v-model="game.airshipGreen" :options="options.airshipTileGreen" />
        </b-input-group>
        <b-input-group class="py-1">
          <b-form-checkbox-group v-model="game.mods" :options="options.mods">
          </b-form-checkbox-group>
        </b-input-group>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Notes</div>
          </b-input-group-text>
          <b-form-input v-model="game.notes" />
        </b-input-group>
        <h2>Player</h2>
        <b-input-group class="py-1">
          <b-dropdown text="Player Name" variant="outline-secondary" slot="prepend">
            <b-dropdown-item @click="form.name = n" v-for="n in usedNames" :key="n">{{n}}</b-dropdown-item>
          </b-dropdown>
          <b-form-input v-model="form.name" required />
        </b-input-group>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Faction</div>
          </b-input-group-text>
          <b-form-select v-model="form.faction" :options="options.faction" required />
        </b-input-group>
        <b-form-group class="py-1" v-if='isVesna(form.faction)' label="Vesna Mech Mods">
          <b-form-checkbox-group v-model="form.vesnaMech" :options="options.vesnaMech" />
        </b-form-group>
        <b-input-group class="py-1" v-if="isVesnaOrFenris(form.faction)">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Faction Start</div>
          </b-input-group-text>
          <b-form-select v-model="form.mapStart" :options="options.mapStart" required />
        </b-input-group>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Board</div>
          </b-input-group-text>
          <b-form-select v-model="form.board" :options="options.board" required />
        </b-input-group>
        <b-input-group class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Popularity</div>
          </b-input-group-text>
          <b-form-select v-model="form.popularity" :options="options.popularity" required />
        </b-input-group>
        <div v-if='game.mods.includes("Mech Mods")'>
          <b-form-group label="Mech Mods">
            <b-form-checkbox-group v-model="form.mechMods" :options="options.mechMods" />
          </b-form-group>
        </div>
        <div v-if='game.mods.includes("Infrastructure Mods")'>
          <b-form-group label="Infrastructure Mods">
            <b-form-checkbox-group v-model="form.infraMods" :options="options.infraMods" />
          </b-form-group>
        </div>
        <b-input-group v-if='game.mods.includes("Alliances")' class="py-1">
          <b-input-group-text slot="prepend">
            <div class="leftLabel">Alliance</div>
          </b-input-group-text>
          <b-form-select v-model="form.alliance" :options="options.faction" />
        </b-input-group>
        <h2>Points</h2>
        <b-form-row>
          <b-col style="flex-grow: initial">
            <b-input-group class="py-1" prepend="Stars" style="width: 6.7em">
              <b-form-input style="text-align: center" v-model="form.stars" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="py-1" prepend="Tiles" style="width: 6.4em">
              <b-form-input style="text-align: center" v-model="form.tiles" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="py-1" prepend="Resources" style="width: 9em">
              <b-form-input style="text-align: center" v-model="form.resources" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="py-1" prepend="Buildings" style="width: 8.5em">
              <b-form-input style="text-align: center" v-model="form.buildings" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="py-1" prepend="Coins" style="width: 7em">
              <b-form-input style="text-align: center" v-model="form.coins" inputmode="numeric" required />
            </b-input-group>
          </b-col>
          <b-col style="flex-grow: initial">
            <b-input-group class="py-1" prepend="Sum" style="width: 7em">
              <b-form-input disabled style="text-align: center" :value="totalPoints(form)" />
            </b-input-group>
          </b-col>
        </b-form-row>
        <b-button class="mt-3" type="submit" variant="primary">Submit</b-button>
      </b-form>
    </div>
    <b-table class="mt-5" striped hover caption-top :items="game.players" :fields="fields">
      <template slot="edit" slot-scope="data">
        <b-button size="sm" @click.native.stop @click="edit(data.index)" variant="primary">Edit</b-button>
      </template>
      <template slot="table-caption">
        <b>Date:</b> {{game.date}}, <b>Track:</b> {{game.triumphTrack}}, <b>Resolution:</b> {{game.resolutionTile}},
        <b>Airship:</b> {{game.airshipRed}}/{{game.airshipGreen}}, <b>Modular Board:</b> {{game.mods !== undefined && game.mods.includes("Modular Board")}}, <b>Notes:</b> {{game.notes}}
      </template>
    </b-table>
    <b-button class="my-3" @click="exportAsJson" variant="primary">Export Data</b-button>
    <div v-show="exportJson !== null">
      <b-form-textarea id="exportAsJsonArea" ref="exportAsJsonArea" v-model="exportJson" :rows="12">
      </b-form-textarea>
      <b-link href="https://github.com/afdia/scores/edit/master/games.js">Edit at GitHub (copy JSON before)</b-link>
    </div>
    <b-button @click="showOldGames" variant="warning">{{ showOld ? 'Hide' : 'Show'}} old games</b-button>
    <div v-show="showOld">
      <b-form-group v-show="showOld" label="Only show games containing the following players">
        <b-form-checkbox-group v-model="chartPlayers" :options="usedNames" />
      </b-form-group>
      <b-form-row>
        <b-col style="flex-grow: initial">
          <b-input-group class="py-1" prepend="Min Players" style="width: 9em">
            <b-form-input v-model="chartMinPlayers" inputmode="numeric" />
          </b-input-group>
        </b-col>
        <b-col style="flex-grow: initial">
          <b-input-group class="py-1" prepend="Max Players" style="width: 9em">
            <b-form-input v-model="chartMaxPlayers" inputmode="numeric" />
          </b-input-group>
        </b-col>
        </b-col>
      </b-form-row>
      <div class="chart-container">
        <canvas id="ct-chart-games"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="ct-chart-points"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="ct-chart-wins"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="ct-chart-factionGames"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="ct-chart-factionPoints"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="ct-chart-factionWins"></canvas>
      </div>
    </div>
      <b-table v-for="game in oldGames" v-if="showOld" striped hover small caption-top :items="game.players" :fields="fields">
        <template slot="table-caption">
          <div style="font-size: 0.95em">
            <b>Date:</b> {{game.date}}, <b>Track:</b> {{game.triumphTrack}}, <b>Resolution:</b>
            {{game.resolutionTile}},
            <b>Airship:</b> {{game.airshipRed}}/{{game.airshipGreen}}, <b>Modular Board:</b> {{game.mods !== undefined && game.mods.includes("Modular Board")}}, <b>Notes:</b> {{game.notes}}
          </div>
        </template>
      </b-table>
  </div>
  <script>new Vue({
      el: '#app',
      data() {
        return {
          form: {
            name: "",
            faction: "",
            vesnaMech: [],
            mapStart: "",
            board: "",
            mechMods: [],
            infraMods: [],
            alliance: "",
            popularity: "Medium",
            stars: "",
            tiles: "",
            resources: "",
            buildings: "",
            coins: "",
            points: "",
          },
          options: {
            faction: ['Albion', 'Crimean', 'Fenris', 'Nordic', 'Polania', 'Rusviet', 'Saxony', 'Togawa', 'Vesna'],
            mapStart: ['Albion', 'Crimean', 'Nordic', 'Polania', 'Rusviet', 'Saxony', 'Togawa'],
            board: ['1 Industrial', '2 Engineering', '2A Militant', '3 Patriotic', '3A Innovative', '4 Mechanical', '5 Agricultural'],
            triumphTrack: ['Default', 'Peace', 'War', 'Custom'],
            triumphParts: ['Upgrades', 'Mechs', 'Buildings', 'Enlists', 'Workers', 'Objective', 'War1', 'War2', 'War3', 'War4', 'Popularity', 'Power', 'Combat Cards', 'Encounters', 'Factory Card', 'Resources'],
            resolutionTile: ['None', '1 Land Rush', '2 Factory Explosion', '3 Spoils of War', '4 King of the Hill', '5 Deja Vu', '6 Mission Possible', '7 Doomsday Clock', '8 Backup Plan'],
            airshipTileRed: ['None', '1 Bombard', '2 Bounty', '3 Siege Engine', '4 Distract', '5 Espionage', '6 Blitzkrieg', '7 Toll', '8 War Correspondent'],
            airshipTileGreen: ['None', '9 Ferry', '10 Boost', '11 Drill', '12 Hero', '13 Safe Haven', '14 Reap', '15 Craft', '16 Negotiate'],
            mods: ['Modular Board', 'Mech Mods', 'Infrastructure Mods', 'Alliances', 'Rivals', 'Tesla', 'Mad Tesla', 'Desolation'],
            infraMods: ['Assembly Line', 'Automachines', 'Cavalry', 'Construction', 'Machinery', 'Propaganda', 'Recruitment Office', 'Spy'],
            mechMods: ['Armor', 'Artillery', 'Camaraderie', 'Entrenched', 'Feint', 'Foothold', 'Pontoons', 'Regroup', 'Reinforce', 'Scout', 'Stealth', 'Suiton', 'Sword', 'Tactics', 'Township', 'Underpass'],
            popularity: ['Min', 'Medium', 'Max'],
            vesnaMech: ["Artillery", "Camaraderie", "Disarm", "Feint", "People's Army", "Regroup", "Ronin", "Scout", "Seaworthy", "Shield", "Submerge", "Suiton", "Sword", "Tactics", "Township", "Underpass", "Wayfare"],
          },
          fields: {
            name: { sortable: true },
            faction: { sortable: true },
            board: { sortable: true },
            points: { label: '$', sortable: true },
            edit: {
              label: '',
              'class': 'button-col',
              sortable: false
            },
          },
          game: {
            date: new Date().toISOString().split('T')[0],
            triumphTrack: 'Default',
            triumphParts: '',
            resolutionTile: 'None',
            airshipRed: 'None',
            airshipGreen: 'None',
            mods: [],
            notes: '',
            players: [],
          },
          exportJson: null,
          showOld: false,
          oldGames: [],
          chartPlayers: [],
          chartMinPlayers: '1',
          chartMaxPlayers: '7',
        }
      },
      computed: {
        usedNames() {
          return this.calcNames(games);
        },
      },
      created() {
        // read sort and colorize old games
        games.sort(function (a, b) { return (a.date < b.date) ? 1 : ((b.date < a.date) ? -1 : 0); });
        games.forEach(function (game) {
          game.players.sort(function (a, b) { // sort by points (most points is top player)
            return (a.points < b.points) ? 1 : ((b.points < a.points) ? -1 : 0);
          });
          game.players[0]._rowVariant = 'success'; // highlight the winner (= top player after sorting)
          game.players[1]._rowVariant = 'warning';
          if (game.players.length > 2) {
            game.players[2]._rowVariant = 'danger';
          }
        });
        // init chart players
        this.chartPlayers = this.usedNames;

        this.initTableAndCharts();
      },
      watch: {
        chartPlayers() {
          this.initTableAndCharts();
        },
        chartMinPlayers() {
          this.initTableAndCharts();
        },
        chartMaxPlayers() {
          this.initTableAndCharts();
        },
      },
      methods: {
        calcNames(games) {
          const array = [];
          games.forEach(game => {
            game.players.forEach(player => {
              if (array.indexOf(player.name) === -1) array.push(player.name);
            });
          });
          array.sort();
          return array;
        },
        initTableAndCharts() {
          this.oldGames = [];
          games.forEach(game => {
            let add = true;
            game.players.forEach(player => {
              if (!this.chartPlayers.includes(player.name)) add = false;
              if (player.mechMods != undefined && player.mechMods.length == 0) delete player.mechMods; // delete empty mechMods and infraMods array (to avoid showing it in the table)
              if (player.infraMods != undefined && player.infraMods.length == 0) delete player.infraMods;
            });
            if (add) {
              if (game.players.length >= this.chartMinPlayers && game.players.length <= this.chartMaxPlayers) {
                this.oldGames.push(game);
              }
            }
          });
          drawGraphs(this, this.calcNames(this.oldGames)); // in charts only show playernames which have contributed to oldGames (= the visible game tables)
        },
        totalPoints(player) {
          return Number(player.stars) + Number(player.tiles) + Number(player.resources) + Number(player.buildings) + Number(player.coins);
        },
        isVesnaOrFenris(faction) {
          return faction === 'Vesna' || faction === 'Fenris';
        },
        isVesna(faction) {
          return faction === 'Vesna';
        },
        isNonEmpty(array) {
          return array !== undefined && array.length > 0;
        },
        arrayAsString(array) {
          return (array === undefined || array.length === 0) ? "" : array.join(', ');
        },
        onSubmit(event) {
          event.preventDefault();
          if (!this.isVesnaOrFenris(this.form.faction)) {
            this.form.mapStart = this.form.faction;
          }
          let objCopy = Object.assign({}, this.form);
          if (!this.isVesna(objCopy.faction)) {
            objCopy.vesnaMech = undefined;
          }
          if (!this.game.mods.includes("Alliances")) {
            objCopy.alliance = undefined;
          }
          objCopy.points = this.totalPoints(objCopy);
          let index = -1;
          this.game.players.forEach((value, i) => {
            if (value.name === objCopy.name) {
              index = i;
            }
          })
          if (index !== -1) {
            Vue.set(this.game.players, index, objCopy)
          } else {
            this.game.players.push(objCopy)
          }
          Object.keys(this.form).forEach(k => {
            this.form[k] = "";
          });
        },
        edit(index) {
          var item = this.game.players[index];
          let objCopy = Object.assign({}, item);
          this.form = objCopy;
        },
        exportAsJson() {
          if (this.game.triumphTrack !== 'Custom') {
            this.game.triumphParts = [];
          }
          this.exportJson = JSON.stringify(this.game) + ',';
        },
        showOldGames() {
          if (this.showOld == true) {
            this.showOld = false;
            return;
          }
          this.showOld = true;
        }
      }
    })
  </script>
</body>

</html>