body{
	max-width: 1080px;
	margin: 0 auto !important;
	float: none !important;
	}
.button-col {
	width: 3em;
}
.leftLabel {
	width: 6.3em;
}
table td {
	white-space: nowrap;
	font-size: 0.95em;
	/*max-width: 4.2em;*/
}
/* limit canvas size */
.chart-container {
	position: relative;
	width: 100vw;
	max-width: 1080px;
	height: 50vh;
	min-height: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
